@model PerchaseModel
@{
    string path = "~/Images/" + Model.Image + ".png";
    string path2 ="~/Images/" + Model.Image + "2" + ".png";
    <br />
    <p1 class="align-content-center mb-5 w-100 bb-db1">
        <img src="@path" asp-append-version="true" class="align-content-center w-5" width="500" />

    </p1>
}
<form asp-area="" asp-controller="Home2" asp-action="BuyCalamaretti">
    <p class="bb-db1">Chose a model:</p>
    <div>
        <label>20GCALS-7102M (2.5-4.5 Egi)</label>
        <input asp-for="Property" type="radio" value="20GCALS-7102M"  checked ="checked" id="1"  /> 
        <img src="@path2" asp-append-version="true" width="100" />480$
    </div>
    <br />
    <div>
        <label>GNCPRS-802ML-S (5-25 g)</label>
        <input asp-for="Property" type="radio" value="GNCPRS-802ML-S"  id="1" /> 
        <img src="@path2" asp-append-version="true" width="100" />650$
    </div>
    <br />
    <div>
        <label>GNCPRS-8102MH (11-43 g)</label>
        <input asp-for="Property" type="radio" value="GNCPRS-8102MH"  id="1" /> 
        <img src="@path2" asp-append-version="true" width="100" />680$
    </div>
    <br />
    <br />
    <button class=" btn btn-primary" type="submit">Buy</button>
    
</form>
