@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-black text-center mt-5 ">Welcome</h1>

<form asp-area="" asp-controller="Home2" asp-action="AllItems">
    <div class="container align-items-center align-content-center">
        <div ></div>
        <button class="btn btn-primary align-content-center text-center align-content-md-center" type="submit" >Look All Items</button>
    </div>
</form>
<br />
<form asp-controller="Home2" action="Try">
    <button class="btn btn-outline-primary" type="submit">Try</button>
</form>