@model PurchaseModel
@{
    var image = "~/Images/Malas/" + Model.Image + ".png";
    <p1 class="align-content-center mb-5 w-100">
        <img src="~/Images/Malas/Malas.png" asp-append-version="true" class="align-content-center w-5" />

    </p1>
}
<form asp-area="" asp-controller="Home2" asp-action="BuyMalas">
    <p>Chose a colour:</p>
    <div>
        <input asp-for="Colour" type="radio" value="col-1"  checked ="checked" id="1"  /> 
        <img src="~/Images/Malas/col-1.png" width="80" /> (col_1) 20$
    </div>
    <br />
    <div>
        <input asp-for="Colour" type="radio" value="col-2"  id="1" /> 
        <img src="~/Images/Malas/col-2.png" width="80" /> (col_2) 10$
    </div>
    <br />
    <div>
        <input asp-for="Colour" type="radio" value="col-3" id="1"  /> 
        <img src="~/Images/Malas/col-3.png" width="80" /> (col_3) 10$
    </div>
    <br />
    <br />
    <button class=" btn btn-primary" type="submit">Buy</button>
    
</form>

