@model PerchaseModel
@{
    string path = "~/Images/" + Model.Image + ".png";
    <br />
    <p1 class="align-content-center mb-5 w-100">
        <img src="@path" asp-append-version="true" class="align-content-center w-5" width="500" />

    </p1>
}
<form asp-area="" asp-controller="Home2" asp-action="BuyPointer">
    <p>Chose a siza:</p>
    <div>
        <label>43 SP</label>
        <input asp-for="Size" type="radio" value="43" checked="checked" id="1" />
        <img src="@path" asp-append-version="true" width="100" />20$
    </div>
    <br />
    <div>
        <label>110 SP</label>
        <input asp-for="Size" type="radio" value="110" id="1" />
        <img src="@path" asp-append-version="true" width="100" />35$
    </div>
    <br />
    <div>
        <label>128 SP</label>
        <input asp-for="Size" type="radio" value="128" id="1" />
        <img src="@path" asp-append-version="true" width="100" />38$
    </div>
    <br />
    <p>Chose a colour:</p>
    <br />
    <div>
        <label></label>
        <input asp-for="Colour" type="radio" value="col-1" checked="checked" id="2" />
        <img src="~/Images/Pointer/col_1.png" asp-append-version="true" width="120" /> (col_1)
    </div>
    <br />
    <div>
        <label></label>
        <input asp-for="Colour" type="radio" value="col-2"  id="2" />
        <img src="~/Images/Pointer/col_2.png" asp-append-version="true" width="120" /> (col_2)
    </div>
    <br />
    <div>
        <label></label>
        <input asp-for="Colour" type="radio" value="col-3"  id="2" />
        <img src="~/Images/Pointer/col_3.png" asp-append-version="true" width="120" /> (col_3)
    </div>

    <br />
    <br />
    <button class=" btn btn-primary" type="submit">Buy</button>

</form>

