@model SearchModel

<form asp-controller="Home2" asp-action="FindItem">
    <div>
        <input class="text-black" type="text" asp-for="Input" placeholder="Search..." />
        <button class="btn btn-primary" type="submit">Find</button>
    </div>
</form>
