@model PerchaseModel
@{
    string path = "~/Images/" + Model.Image + ".png";
    string path2 ="~/Images/" + Model.Image + "2" + ".png";
    <br />
    <p1 class="align-content-center mb-5 w-100 bb-db1">
        <img src="@path" asp-append-version="true" class="align-content-center w-5" width="500" />

    </p1>
}
<form asp-area="" asp-controller="Home2" asp-action="BuySilverado">
    <p class="bb-db1">Chose a model:</p>
    <div>
        <label>GSIS-742LML-HS (2-11 g)</label>
        <input asp-for="Property" type="radio" value="GSIS-742LML-HS"  checked ="checked" id="1"  /> 
        <img src="@path2" asp-append-version="true" width="100" />500$
    </div>
    <br />
    <div>
        <label>GSIS-742ML-LE (3-15 g)</label>
        <input asp-for="Property" type="radio" value="GSIS-742ML-LE"  id="1" /> 
        <img src="@path2" asp-append-version="true" width="100" />550$
    </div>
    <br />
    <div>
        <label>20GSILPS-762ML (3-15 g)</label>
        <input asp-for="Property" type="radio" value="20GSILPS-762ML"  id="1" /> 
        <img src="@path2" asp-append-version="true" width="100" />560$
    </div>
    <br />
    <br />
    <button class=" btn btn-primary" type="submit">Buy</button>
    
</form>