@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-black text-center" >You have not chosen the size of vobler</h1>
<form asp-area="" asp-controller="Home2" asp-action="OrbitPage">
    <button>
        <img src="~/Images/IconBack.png" width="80" />
    </button>

</form>
