@model InputModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = ViewData["ReturnUrl"] as string;

   
}


<body>
	<div class="container bb-db1">
	<section id="content">
			<form action="/login?ReturnUrl=@returnUrl" method="post">
			<h1>Login</h1>
			<div>
					<input type="text" placeholder="Username" required="" name="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" name="password" />
			</div>
			<div>
					<input class="btn btn-primary" type="submit" value="Log in" />
			</form><!-- form -->
				<a href="#">Lost your password?</a>
			<a asp-controller="UserModels" asp-action="Create" >Register</a>
			</div>
		
		<div class="button">
		
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
</body>