html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.try:hover {
    background-color: #67971f;
    color: black;
}
.mydiv {
    margin-top: 50px;
    margin-bottom: 50px
}

.padding-0 {
    padding-right: 5px;
    padding-left: 5px
}

.bbb_deals_image {
    height: 300px;
}

.img-style {
    margin-left: -11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 104% !important
}

.m-t-20 {
    margin-top: 20px
}

.bbb_background {
    background-color: #E0E0E0 !important
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute
}

    .ribbon::before,
    .ribbon::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid #2980b9
    }

    .ribbon span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 8px 0;
        background-color: #3498db;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font: 100 18px/1 'Lato', sans-serif;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        text-align: center
    }

.ribbon-top-right {
    top: -10px;
    right: -10px
}

    .ribbon-top-right::before,
    .ribbon-top-right::after {
        border-top-color: transparent;
        border-right-color: transparent
    }

    .ribbon-top-right::before {
        top: 0;
        left: 17px
    }

    .ribbon-top-right::after {
        bottom: 17px;
        right: 0
    }

    .ribbon-top-right span {
        left: -25px;
        top: 30px;
        transform: rotate(45deg)
    }

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bbb_deals_featured {
    width: 100%
}

.bbb_deals {
    width: 100%;
    margin-right: 7%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0px
}

.bbb_deals_title {
    position: absolute;
    top: 27px;
    left: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_deals_slider_container {
    width: 100%
}

.bbb_deals_item {
    width: 100% !important
}

.bbb_deals_image {
    width: 100%
}

    .bbb_deals_image img {
        width: 100%
    }

.bbb_deals_content {
    margin-top: 33px
}

.bbb_deals_item_category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_name {
    font-size: 15px;
    font-weight: 100;
    color: #000000
}

.bbb_deals_item_price {
    font-size: 20px;
    font-weight: 100;
    color: #df3b3b
}

.available {
    margin-top: 19px
}

.available_title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

    .available_title span {
        font-weight: 700
    }

@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }

    .bbb_deals_slider_nav_container {
        right: 5px
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }
}
.bodyd {
    background-color: black;
    color: white;
}

.h1d {
    color: red;
}

.h6d {
    color: red;
    text-decoration: underline;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-nav .nav-item .active {
    color: #67971f;
}

a.fas {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.num {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: 18px;
    width: 15px;
    height: 15px;
    font-size: 8px;
    background-color: #67971f;
    color: white;
}


.col-lg-3 .btn.btn-primary {
    width: 100%;
    height: 43px;
    box-shadow: none;
    outline: none;
    background-color: #67971f;
    color: white;
    font-weight: 800;
    padding: 0px 15px;
    line-height: 22px;
    border: none;
}

    .col-lg-3 .btn.btn-primary:focus {
        outline: none;
        box-shadow: none;
    }

    .col-lg-3 .btn.btn-primary:hover {
        background-color: #aadf5a;
    }

.col-lg-3 ul {
    width: 100%;
}

.col-lg-9 .btn.btn-secondary {
    width: 100%;
    height: 100% !important;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-weight: 800;
    padding: 0px 15px;
    line-height: 22px;
    border: none;
}


.col-lg-9 .btn.btn-primary {
    background-color: #67971f;
    border: none;
    height: 100%;
    width: 100px;
}

    .col-lg-9 .btn.btn-primary:hover {
        background-color: #aadf5a;
    }

.col-lg-9 ul {
    width: 100%;
}

.fas.fa-phone {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #67971f;
}

.p-green {
    letter-spacing: 2px;
    color: #67971f;
    font-size: 14px;
}

.inputI {
    width: 230px;
    border: none;
    outline: none;
}

.pI {
    margin: 0%;
}

.text-muted {
    font-size: 14px;
}


.btn.btn-success {
    color: white;
    background-color: #67971f;
    outline: none;
    border: none;
}

    .btn.btn-success:hover {
        background-color: #aadf5a;
    }

@media(max-width:1022px) {
    input {
        width: 100%;
        border: none;
    }
}
.bb-db1{
    padding-top:45px
}
















.StartSlider{
    margin-top: -10px;
}
.ButtonForSlider {
    margin-top: -20px;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 60px;
    padding: 30px;
    padding-left: 40px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

    .slider p {
        font-size: 26px;
        font-weight: 600;
        font-family: Open Sans;
        padding-left: 30px;
        color: black;
    }

    .slider input[type="range"] {
        -webkit-appearance: none !important;
        width: 420px;
        height: 2px;
        background: black;
        border: none;
        outline: none;
    }

        .slider input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            width: 30px;
            height: 30px;
            background: black;
            border: 2px solid green;
            border-radius: 50%;
            cursor: pointer;
        }

            .slider input[type="range"]::-webkit-slider-thumb:hover {
                background: Green;
            }