@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<form asp-controller="Identiy" asp-action="UserPage" >
    <div class="text-center">
        <img src="~/Images/Icons/Tick.png" width="120" />
    </div>
    <h2 class="text-center" > Congratulation! Your registration is successful</h2>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-primary">LOG IN</button>
    </div>
</form>
