@model InputModel
<form asp-controller="Extra" asp-action="SubminNewPerchas" >
    <div>
        Brend: 
        <input asp-for="Brend" />
    </div>
    <hr />
    <br />
     <div>
        Name: 
        <input asp-for="Name" />
    </div>
      <hr />
    <br />
     <div>
        NameOfPage: 
        <input asp-for="NameOfPage" />
    </div>
      <hr />
    <br />
    <div>
        Name of image: 
        <input asp-for="Image" />
    </div>
    <br />
     <div>
        Information abjut the new product: 
        <input asp-for="InformatinOfThePage" />
    </div>
    <br />
    <button class="bnt btn-outline-primary">Submit</button>

</form>