@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="Orders" asp-action="Index">
    <div class="bb-db1">

        <button class="btn btn-outline-primary" type="submit">Look orders</button>
    </div>
    <hr />

</form>
<form asp-controller="PerchaseModels" asp-action="Index">
    <button class="btn btn-outline-primary" type="submit">Products</button>

</form>
<hr />
<a class="btn btn-outline-primary" asp-area="" asp-controller="Image" asp-action="Index">Add a picture for a new product</a>
<hr />
<form asp-controller="UserModels" asp-action="Index">
    <button class="btn btn-outline-primary" type="submit">Users</button>
</form>
