@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="Extra" asp-action="LookOrders">
    <div>

        <button class="btn btn-outline-primary" type="submit">Look orders</button>
    </div>
    <hr />
 
</form>
<form asp-controller="Extra" asp-action="AddNewPerchse">
    <button class="btn btn-outline-primary" type="submit">Add new Product</button>

</form>
