@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <form asp-controller="UserModels" asp-action="Create">
        <button type="submit">
            <div>
                <img src="~/Images/Icons/new user icon.png" width="80" />
                <label>Make a new acount</label>
            </div>
        </button>
    </form>

</div>
<br />
<form asp-controller="Identiy" asp-action="UserPage">
    <button type="submit">
        <div>
            <div>
                <img src="~/Images/account icon.png" width="80" />
                <label>Log in existing acount</label>
            </div>
        </div>
    </button>
</form>

<form asp-controller="Extra" asp-action="AdminPage">
    <div>
        <div>
            <button class="btn " type="submit"><img src="~/Images/Icons/admin Icon.png" width="80" /></button>

            <label>log in as administrator</label>
        </div>
    </div>

</form>
