@model InputModel
<form asp-controller="Extra" asp-action="Dlete">
    <div>
        <h2>Id of the order which sould be deleted</h2>
        <input asp-for="IntInput" placeholder="ID" />
        <button class="btn btn-primary" type="submit">Delete</button>
    </div>
</form>
