@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="bb-db1" asp-controller="WeatherForecast" asp-action="Whether" method="post">
    <div>

        <input name="city" type="text" placeholder="What is your city?" />
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>